.signupSection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
    row-gap: 60px;
}

.signupHeader{
    width: 35%;
    height: auto;
    font-size: 15px;
    text-align: center;
}

.signupHeader h1{
   font-weight: 400;
}

.signupForm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.signupform h3{
    padding-bottom: 30px;
    font-size: 35px;
    color: #409bff;
    text-align: center;
}

.signupform input{
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding: 10px 0 10px 10px;
}

.signupClick{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupClick a{
    text-decoration: none;
    color: #409bff;
}

@media screen and (max-width:840px) {
    .signupSection{
        flex-direction: column;
        justify-content: center;
    }


    .signupHeader{
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

    .signupform h3{
        padding-bottom: 30px;
        font-size: 25px;
        color: #409bff;
        text-align: center;
    }

    .signupForm{
        margin: 0 auto;
        width: 90%;
    }
    
}