.navbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
}


.navbarBG{
    background-color: #fff;
    transition: 0.5s;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
}

.navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 400;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    list-style: none;
    align-items: center;
    font-size: 15px;
}

.nav-menu li a{
    text-decoration: none;
    color: #222;
    font-weight: 5  00;
    padding: 0.7rem 1rem;
}

.nav-menu li a:hover{
    background-color: #407bff;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.menu-icons{
    display: none;
}


.signBtn{
    padding: 10px 5px;
    border: 1px solid #407bff;
    border-radius: 5px;
    background: #407bff;
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width:1040px) {

    .navbarItems{
        z-index: 99;
        height: 50px;
        background-color: #fff;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        align-items: center;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        padding: 100px 0 30px 0; 
        margin: 0;
        transition: 0.2s;
        border-radius: 13px;
        z-index: 9999;
        }


    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.2s;
    }

    .nav-menu li a{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem 2rem;
        font-weight: 600;
    }

    .nav-menu li a:hover{
        background-color: #407bff;
        transition: none;
    }

    .menu-icons{
        display: block;
        line-height: 0px;
    }

    .navbar-logo{
        font-size: 1.5rem;
    }

}